{% block header %}
    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{ asset('css/style.css')}}" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}




 
   <body>                     

                        <div class="login">
                            
                            <form role="form" method="POST" action="{{asset('check_login')}}">
                                <div class="form-group">
                                    <h3 class="h" >Log In</h3>
                                    <hr>
                                    <div class="input-group">
                                        
                                        {% if  app.session.flashbag.has('notice') ==null %}
                                           
                                            <input name="login" type="text" class="form-control" id="uLogin" placeholder="Login" required>
                                        {%else%}
                                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                                {% if flashMessage == "Empty username or password."%}<input name="login" type="text" class="form-control" id="uLogin" placeholder="Login" required> 
                                                {%else%}
                                                <input value="{{flashMessage}}" name="login" type="text" class="form-control" id="uLogin" placeholder="Login" required>
                                            {%endif%}
                                                {%endfor%}
                                            


                                        {%endif%}


                                        <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>  

                                    </div>
                                </div> 

                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="pass" type="password" class="form-control" id="uPassword" placeholder="Password" required>
                                        <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                                    </div> 
                                </div> 

                                <div class="checkbox">
                                    <label>

                                        <input type="checkbox" name="remember" > Remember me
                                    </label>
                                </div> 
                                <div class="modal-footer">
                                    <input type="submit"  class="form-control btn btn-primary btn-block" value="Log In">

                                </div> 
                            </form>            
                        </div>
                  

    {% for flashMessage in app.session.flashbag.get('notice') %}

        <p style="color:red;">{{ flashMessage }}<p>
        {% endfor %}

        <script src="{{asset('js/javascript.js')}}"></script>
    </body>