 
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="{{ asset('css/style.css')}}" rel="stylesheet"/>

<body>
<div>
{% for bk in data.name %}
         <div class="bkinf" >
             
             <img style="margin-left: 40px;margin-top: 20px;" src="{{asset(bk.wallper)}}">  
             
         </div>
             <br>
             <div class="bktext" >
                 <p ><strong>Book:</strong><span>{{bk.name}}</span></p>
             <p ><strong>Author:</strong><span>{{bk.author}}</span></p>
             <p ><strong>Description:</strong><span>{{bk.description}}</span></p>
             <p ><strong>Relase Date:</strong><span>{{bk.year}}</span></p> 
             </div>
         {%endfor%}
           </div >
</div>
 </body>        